*.gem
*.o
*.hi
*_stub.c
*_stub.h
*.a
*.so
*.bundle
*.def
.DS_Store
nbproject/
examples/nasm_codes.txt
ext/rsec/Makefile
website/views/ref.slim
website/public/bp
website/google-code-prettify
website/blueprint-css
website/.git
