*.gem
*.o
*.hi
*_stub.c
*_stub.h
*.a
*.so
*.def
nbproject/
ext/rsec/Makefile
website/views/ref.slim
website/public/bp
website/Gemfile.lock
website/google-code-prettify
website/blueprint-css
